*{
    font-family: "Comic Sans Ms";
}
h1{
    font-size:3.5em;
    line-height: 1.5;
    font-weight: bold;
    font-family: "Comic Sans MS";
    margin-bottom: 10px;
}
.store{
    font-size: 60%;
    line-height: 1.5;
    font-family: "Comic Sans MS";
}
.button1{
    font-family: "Comic Sans MS";
    background-color: white;
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 380px;
    margin-right:20px;
}
.buttons{
    font-family: "Comic Sans MS";
    background-color: white;
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
    margin-right:20px;
}
.search-container {
    float: none;
}
.search-container button {
    float: none;
    padding: 4px 8px;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
}
.search-container button:hover {
    background: #ccc;
}
@media screen and (max-width: 1000px) {
    .search-container {
      float: none;
    }
      .search-container input[type=text], .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-container input[type=text] {
        border: 1px solid #ccc;  
      }
}
#tile1{
    width:auto; 
    height:auto;  
    padding-top:20px; 
    padding-left:15px; 
    padding-right:15px;
}
.cake1{
    width: 300px;
    height: auto;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.cake2{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cake3{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cake4{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.cake5{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cake6{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
#tile2{
    width:auto; 
    height:auto;  
    padding-top:20px; 
    padding-left:15px; 
    padding-right:15px;
}
.cupcake1{
    width: 300px;
    height: auto;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.cupcake2{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cupcake3{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cupcake4{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.cupcake5{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.cupcake6{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
#tile3{
    width:auto; 
    height:auto;  
    padding-top:20px; 
    padding-left:15px; 
    padding-right:15px;
}
.sweet1{
    width: 300px;
    height: auto;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.sweet2{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.sweet3{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.sweet4{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.sweet5{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.sweet6{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
#tile4{
    width:auto; 
    height:auto;  
    padding-top:20px; 
    padding-left:15px; 
    padding-right:15px;
}
.doughnut1{
    width: 300px;
    height: auto;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.doughnut2{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.doughnut3{
    width: 300px;
    height: auto;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.doughnut4{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    border:1px solid grey;
}
.doughnut5{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
.doughnut6{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    border:1px solid grey;
}
